::-webkit-scrollbar {
    display: none;
}

html {overflow: -moz-scrollbars-none;}


body{
background: black;
}

#p5_loading{
color:white;
}

.container{
  position: absolute;
  width: 100vw;
  height:100px;
  top: 75%;
  margin: auto;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-scrollbar: none;
}

.words{
  background-color:rgba(255, 255, 255, 0.15);
    padding: 30px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    border-radius: 20px;
    display: none;
    margin: auto;
}

.feelings{
  background-color:rgba(255, 255, 255, 0.15);
    padding: 30px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    border-radius: 20px;
    display: none;
    margin: auto;
}

.feelings:hover{
    background-color:rgba(255, 255, 255, 0.3);
}

canvas{
position: fixed;
left:0;
top:0;
z-index: -1;
margin: 0;
padding: 0;
}
